/* @font-face {
  font-family: 'Futura';
  src: url('./Futura/Futura-Medium-6.ttf') format('truetype');
} */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
  font-family: 'Futura';
}

.calculator {
  --button-width: 80px;
  --button-height: 80px;
  display: grid;
  grid-template-areas:
    'result result result result'
    'ac plus-minus percent divide'
    'number-7 number-8 number-9 multiply'
    'number-4 number-5 number-6 minus'
    'number-1 number-2 number-3 plus'
    'zero zero dot equal';
  grid-template-columns: repeat(4, var(--button-width));
  grid-template-rows: repeat(6, var(--button-height));

  box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1),
    8px 8px 16px -10px rgba(0, 0, 0, 0.15);
  padding: 24px;
  border-radius: 20px;
}

.calculator button {
  margin: 8px;
  border: none;
  outline: none;
  border-radius: calc(var(--button-width) / 2);

  font-size: 24px;
  font-family: Futura;
  color: #888;

  box-shadow: -8px -8px 10px -8px rgba(255, 255, 255, 1),
    8px 8px 10px -8px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    135deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(246, 246, 246, 1) 100%
  );
}

.calculator button:active {
  box-shadow: inset -8px -8px 10px -8px rgba(255, 255, 255, 1),
    inset 8px 8px 10px -8px rgba(0, 0, 0, 0.15);
}

.result {
  text-align: right;
  grid-area: result;
  line-height: var(--button-height);
  font-size: 48px;
  color: #555;
  padding-right: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
